input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

.btn1 {
    width : 100px;
    height : 27px;
    border-radius : 5px;
    border : 0;
    color : white;
    background-color : rgb(163, 87, 118);
   cursor: pointer;
}

.btn2 {
    width : 60px;
    height : 27px;
    border-radius : 5px;
    border : 0;
   cursor: pointer;
}

.btn3 {
    width : 170px;
    height : 50px;
    border-radius : 5px;
    border : 0;
   cursor: pointer;
}

.btn4 {
    width : 170px;
    height : 50px;
    border-radius : 5px;
    border : 0;
    color : white;
    background-color : rgb(163, 87, 118);
   cursor: pointer;
}

.btn5 {
    width : 170px;
    height : 50px;
    border-radius : 5px;
    border : 0;
    color : white;
    background-color : rgb(95, 75, 139);
   cursor: pointer;
}

.btn6 {
    width : 120px;
    height : 27px;
    border-radius : 5px;
    border : 0;
    color : white;
    background-color : rgb(132, 141, 197);
   cursor: pointer;
}

.btn7 {
    width : 120px;
    height : 27px;
    font-size : 9pt;
    border-radius : 5px;
    border : 0;
    color : white;
    background-color : rgb(95, 75, 139);
   cursor: pointer;
}

.btn8 {
    width : 70px;
    height : 25px;
    text-align : center;
    font-size : 10pt;
    border-radius : 5px;
    border : 0;
   cursor: pointer;
}

.btn9 {
    width : 100px;
    height : 27px;
    text-align : center;
    border-radius : 5px;
    border : 0;
   cursor: pointer;
}

.tdChk {
	width : 3%;
}

.tdBook {
	width : 38%;
	padding-left : 3%;
}

.tdPrice {
	width : 13%;
}

.tdQuan {
	width : 10%;
}

.tdBtn {
	width : 23%;
}

.quan {
	width : 70px;
}

#total {
	width : 30%;
}

#delivery {
	width : 20%;
}

#orderPrice {
	width : 30%;
}

#point {
	width : 20%;
}

.bookImg {
	width : 91px;
	height : 131px;	
}

.newUserTB {
	display : none;
}

.orderTh {
	width : 20%;
}

.sidebar {
	position: absolute;
    height: 100%;
    left: 0;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #773376;
    opacity : 0.8;
    color:snow;
    border-right: 1px solid #eee;
}

th {
	text-align: center;
}

td {
	text-align: center;
}